body{
    background-image: url("/springboot/html5/static/5d28.jpg");
}

.main{
    width:1200px;
    height: 800px;
    margin:0 auto;
    position: relative;
}

#left{
    border: azure solid 1px;
    float: left;
    width: 1000px;
    height: 800px;
}

#right{
    border: azure solid 1px;
    float: right;
    height: 800px;
    width: 190px;
    text-align: center;
}
 #right img{
     width: 150px;
     height: 150px;
     margin: 10px auto;
 }

p{

}
.foot{
    border: azure solid 1px;
    width: 1200px;
    height: 100px;
    margin: 5px  auto;
    text-align: center;
}
.foot button{
    float: left;
    display: block;
    background-color: azure;
    border-radius: 10px;
    border:0;
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;

}
.foot button:hover{
    background-color: yellow;
}